[Unit]
Description=daphne service to run footloosemail
After=network.target
After=mariadb.service
After=nginx.service

[Service]
Type=simple
RuntimeDirectory=daphne
PIDFile=/run/daphne/pid
User=django
Group=django
WorkingDirectory=/home/django/FootlooseMail
ExecStart=/home/django/footloosemailenv/bin/daphne -u /tmp/daphne.sock FootlooseMail.asgi:application
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target
[Install]
WantedBy=multi-user.target
