{% extends 'base.html' %}

{% block body %}
<h1>All Aliases</h1>
{% if user.is_staff %}
    <a href="{% url 'mailalias:refetch' %}" class="button info rounded">Refetch</a>
    <a href="{% url 'mailalias:clearcache' %}" class="button danger rounded">Clear Cache</a>
{% endif %}
<table class="table bordered hovered striped datatable">
<thead>
<tr>
    <th>Alias<br/></th>
    <th>Size</th>
    <th>Email</th>
    {% if user.is_staff %}
    <th>Protected</th>
    <th>Action</th>
    {% endif %}
</tr>
</thead>
<tbody>
{% for alias in aliasses.values %}
    {% for member in alias.members %}
        <tr>
            <td style="width:20%;">{{ alias.name }}</td>
            <td style="width:20%">{{ alias.count }}</td>
            <td style="width:20%;">{{ member }}</td>
            {% if user.is_staff %}
                <td><span class="mif-{{ alias.protected|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
                <td>
                {% if alias.protected %}
                    {% if user.is_superuser or request.user in alias.2.Owners.all %}
                    <a href="{% url 'mailalias:adduser' alias.name %}" class="button primary rounded">Edit</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'mailalias:adduser' alias.name %}" class="button primary rounded">Edit</a>
                {% endif %}
            {% if user.is_superuser %}
                {% if alias.protected %}
                    <a href="{% url 'mailalias:editprotected' alias.protected.pk %}" class="button warning rounded">Protect</a>
                {% else %}
                    <a href="{% url 'mailalias:createprotected' alias.name %}" class="button warning rounded">Protect</a>
                {% endif %}
            {% endif %}
            {% if not alias.protected  %}
                <form action="{% url 'mailalias:deletealias' alias.name %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="button danger rounded" value="Delete Alias">
                </form>
            {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block scripts %}
   {{ block.super }}
    <script>
        $(document).ready(function () {
            var cols = [
                null,
                null,
                null,
                {% if user.is_staff %}
                {"searchable": false, "sortable": false},
                {"searchable": false, "sortable": false}
                {% endif %}
            ];
            MPDataTable(cols, [0]);
        });

    </script>

{% endblock %}